<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
                {% if titlecontent is defined and titlecontent!='' %}{{ titlecontent }}{% else %}Greetik Soluciones SL{% endif %}
                <small>{% if subtitlecontent is defined and subtitlecontent!='' %}{{ subtitlecontent }}{% else %}Backend de Greetik{% endif %}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('beinterface_homepage') }}">Inicio</a>
                <span class="fa fa-angle-right"></span>
            </li>
            {% if breadcrumb is defined and breadcrumb!='' %}
                {% for link in breadcrumb %}
                    <li>
                        <i class="fa fa-{{ link.icon }}"></i>
                        <a href="{{ link.link }}">{{link.title}}</a>
                        <span class="fa fa-angle-right"></span>
                    </li>                
                {% endfor %}
            {% endif %}
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
<div class="clearfix"></div>
</div>
<!-- END PAGE HEADER-->