    <!-- modal select player for a match -->
	<div class="modal fade" data-refresh="true" id="modal_ajax" style="overflow: visible; overflow-y: auto;" role="basic" aria-hidden="true" tabindex="-1" >
	  <img src="{{ asset('bundles/beinterface/img/ajax-modal-loading.gif') }}" alt="" class="loading">
	</div>
	<!-- BEGIN FOOTER -->
        
   <div class="footer">
      <div class="footer-inner">
         2014 &copy; Greetik.com
      </div>
      <div class="footer-tools">
         <span class="go-top">
         <i class="fa fa-angle-up"></i>
         </span>
      </div>
   </div>
   <!-- END FOOTER -->
   <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
   <!-- BEGIN CORE PLUGINS -->   
   <!--[if lt IE 9]>
   <script src="{{ asset('bundles/beinterface/plugins/respond.min.js') }}"></script>
   <script src="{{ asset('bundles/beinterface/plugins/excanvas.min.js') }}"></script> 
   <![endif]-->   

   <!-- BEGIN PAGE LEVEL SCRIPTS -->
   <link href="{{ asset('bundles/beinterface/plugins/fancybox/source/jquery.fancybox.css') }}" rel="stylesheet" type="text/css"/>
   <script src="{{ asset('bundles/beinterface/scripts/app.js') }}"></script>
   <script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/fancybox/source/jquery.fancybox.js') }}"></script>  
   <script>
      jQuery(document).ready(function() {     
          App.init();	
          $.fn.modal.Constructor.prototype.enforceFocus = function() {};	
      });
      $('body').on('hidden.bs.modal', '.modal', function () {
        $(this).html('<img src="{{ asset('bundles/beinterface/img/ajax-modal-loading.gif') }}" alt="" class="loading">');
        $(this).removeData('bs.modal');
       });
   </script>