<link href="{{ asset('/bundles/beinterface/plugins/fullcalendar/fullcalendar/fullcalendar.min.css')}}" rel="stylesheet" type="text/css"/>
<div style="width:100%;" id="calendar"></div>
<script src="{{ asset('/bundles/beinterface/plugins/fullcalendar/fullcalendar/lib/moment.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/bundles/beinterface/plugins/fullcalendar/fullcalendar/fullcalendar.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/bundles/beinterface/plugins/fullcalendar/fullcalendar/locale/es.js') }}" type="text/javascript"></script><script>

    jQuery(document).ready(function () {
        if (!jQuery().fullCalendar) {
            return;
        }

        var h = {};
        if ($('#{{ configCalendar['id'] }}').width() <= 400) {
            $('#{{ configCalendar['id'] }}').addClass("mobile");
            h = {
                left: 'title, prev, next',
                lang: 'es',
                center: '',
                right: '{{ configCalendar['viewopts'] }}'
            };
        } else {
            $('#{{ configCalendar['id'] }}').removeClass("mobile");
            if (App.isRTL()) {
                h = {
                    right: 'title',
                    center: '',
                    lang: 'es',
                    left: 'prev,next,{{ configCalendar['viewopts'] }}'
                };
            } else {
                h = {
                    left: 'title',
                    center: '',
                    lang: 'es',
                    right: 'prev, next,{{ configCalendar['viewopts'] }}'
                };
            }
        }


        $('#{{ configCalendar['id'] }}').fullCalendar('destroy'); // destroy the calendar
        $('#{{ configCalendar['id'] }}').fullCalendar({//re-initialize the calendar
    {% if month is defined and year is defined and month!='' and year!=''%}
                defaultDate: '{{ year~'-'~month~'-01'}}',
    {% endif %}
                disableDragging: true,
                header: h,
                editable: false,
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                buttonText: {prev: '<', /* <*/next: '>', /* >*/prevYear: '<<', /* << */nextYear: '>>', /* >>*/ today: 'hoy', month: 'mes', week: 'semana', day: 'día', listYear: 'Año'},
                firstDay: 1,
                agenda: 'H:mm{ - H:mm}',
                timeFormat: 'H(:mm)', // uppercase H for 24-hour clock
                eventRender: function (event, element, calEvent) {
                    //element.find(".fc-event-title").after($("<span class=\"fc-event-icons container\" style='padding:0px !important;'></span>").html("<div class='row-fluid'><img class='col-sx-2' title='El usuario"+ (event.viewed ? '':' NO') +" ha visto el entrenamiento' src=\"/bundles/beinterface/plugins/timthumb/timthumb.php?src=/bundles/trainings/images/iconscalendar/eye" + (event.viewed ? 1:0) + ".png&w=10&zc=1\" /><img class='col-sx-3' src=\"/bundles/beinterface/plugins/timthumb/timthumb.php?src=/bundles/trainings/images/iconscalendar/feeling" + event.fbf  + ".png&w=16&zc=1\" /><img class='col-sx-3' src=\"/bundles/beinterface/plugins/timthumb/timthumb.php?src=/bundles/trainings/images/iconscalendar/battery" + event.fbn  + ".png&w=16&zc=1\" /><img class='col-sx-4' style='cursor:pointer;' title=\"" + event.title + "\" src=\"/bundles/beinterface/plugins/timthumb/timthumb.php?src=/bundles/trainings/images/iconscalendar/" + event.type + "" + event.level + ".png&w=32&zc=1\" /></div>"));
                    //element.find(".fc-event-title").remove();
                },
    {% if configCalendar['dayclick'] is defined %}
                dayClick: function (date, allDay, jsEvent, view) {
                    var url = '{{ configCalendar['dayclick']['url'] }}';
        {% if configCalendar['dayclick']['urlopenintab'] is defined and configCalendar['dayclick']['urlopenintab']==true %}
                        location.href = url.replace('PARAMDATE', date.format());
        {% else %}
                        $("#modal_ajax").modal({
                            remote: url.replace('PARAMDATE', date.format()),
                            show: 1
                        });
        {% endif %}
                    },{% endif %}
        {% if configCalendar['eventclick'] %}
                    eventClick: function (calEvent, jsEvent, view) {
                        var url = '#';
            {% for typeevent,data in configCalendar['eventclick'] %}
                            if (calEvent.type == "{{ typeevent }}") {
                                url = '{{ data.url }}';
                {% if data.urlopenintab is defined and data.urlopenintab==true %}
                                    location.href = url.replace('/00000', '/' + calEvent.id);
                {% else %}
                                    $("#modal_ajax").modal({
                                        remote: url.replace('/00000', '/' + calEvent.id),
                                        show: 1
                                    });
                {% endif %}
                                }
            {% endfor %}

                        }
        {% endif %}
                });


            });</script>


    <script>

        var refreshedcalendar = false;

        function renderCalendar() {
            $('#{{ configCalendar['id'] }}').fullCalendar('removeEvents');

            if (!refreshedcalendar) {
                $('#{{ configCalendar['id'] }}').fullCalendar('addEventSource', {
                    url: '{{ configCalendar['scriptphp_events'] }}',
                    type: 'POST',
                    error: function (e) {
                        alert('Error en el calendario: ' + e.responseJSON.errorDescription);
                    }
                });
                refreshedcalendar = true;
            } else
                $('#{{ configCalendar['id'] }}').fullCalendar('refetchEvents');


        }
        jQuery(document).ready(function () {
            renderCalendar();
        });
    </script>