{# 
    Pacolmg
    Greetik Soluciones SL
    Bootstrap Date plugin
#}

<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/bootstrap-datepicker/css/datepicker.css') }}">
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js') }}"></script>

<script>
      jQuery(document).ready(function() {    
            $('{{ fieldstodate }}').datepicker({
                rtl: ((typeof(App)!='undefined')?App.isRTL():true),
                autoclose: true,
                language: 'es',
                weekStart: 1,
                 format: '{{ formatdate is defined ? formatdate : 'dd/mm/yyyy' }}'
            }){% if onchangedate is defined and onchangedate!='' %}.on('changeDate', function(ev) { {{ onchangedate | raw }} }){% endif %};
            
            //set default value 
            {% if emptydefaultvaluedate  is not defined or emptydefaultvaluedate==true %}
                $('{{ fieldstodate }}').each(function(){
                    if (!$(this).val()) $(this).datepicker('update', new Date());
                });
            {% endif %}
            
            $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
    });
</script>

{# 
    Pacolmg
    Greetik Soluciones SL
    Jquery ui Date plugin
#}

{# #}