
<form id="delete{{ id is defined ? id : '' }}" method="post" action="{{pathdelete}}" onsubmit="return confirmdelete{{ id is defined ? id : '' }}()"> 
       <button type="submit" class="btn red"><i class="fa fa-{% if btnicon is defined and btnicon!=''%}{{ btnicon }}{% else %}trash{% endif %}" style="color:inherit !important;"></i>&nbsp;{% if btntitle is defined and btntitle!=''%}{{ btntitle }}{% else %}Eliminar{% endif %}</button>
</form>


{% block additionalscripts %}
    <script>
        function confirmdelete{{ id is defined ? id : '' }}() {
            var returndelete = confirm("¿Seguro que desea {% if btnaction is defined and btnaction!=''%}{{ btnaction }}{% else %}borrarlo{% endif %}?{% if disablesentence is defined and disablesentence!=false %}{% else %} OPERACIÓN IRREVERSIBLE{% endif %}");
            if (!returndelete) return false;
            
        {% if id is defined %}$('#delete{{ id }}').css('display', 'none');{% endif %}
            return true;
        }
    </script>


{% endblock %}