<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&key={{ gm_apikey }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/beinterface/plugins/gmapspacolmg/positionmap.js') }}"></script>

<div id='{% if configMarker.mapcanvas is defined %}{{ configMarker.mapcanvas }}{% else %}map_canvas{% endif %}' class="positionmarker" style="width:100%; height:300px;"></div>

<script>
    jQuery(document).ready(function () {

{% if configMarker.tab is defined %}
$('a').on('click', function(){
        if ($(this).attr('href') == '#{{ configMarker.tab }}') {
            {% include('BEInterfaceBundle:_Scripts:mappositionjs.html.twig') %}
        }
    });
    {% else %}
        {% include('BEInterfaceBundle:_Scripts:mappositionjs.html.twig') %}
    {% endif %}
    });
</script>