{# 
    Pacolmg
    Greetik Soluciones SL
    Select2 plugin for an id
#}
{% if emptyselectscripts is not defined or emptyselectscripts!=true %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/select2/select2_metro.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/select2/select2.min.js') }}" ></script>
{% endif %}
<script>
      jQuery(document).ready(function() {    
          if (typeof(App)=='undefined'){
            App = {'isIE8':function(){return $("html").hasClass("ie9");}, 'isIE9':function(){return $("html").hasClass("ie9");}}
              
          }
        $('{{ fieldstoselect }}').select2({});
    });
</script>