{# 
    Pacolmg
    Greetik Soluciones SL
    Individual Field in a form
#}

{# set the field #}
{% if configField['fieldtorender'] is not defined %}
    {% if configField['field2'] is defined %}{% set _field = new_form[configField['field']][configField['field2']] %}{% else %}{% set _field = new_form[configField['field']] %}{% endif %}
{% else %}
    {% set _field = configField['fieldtorender'] %}
{% endif %}
{# ----- #}

<div class="form-group" id="form-group-{{ _field.vars.id}}">
  <label class="control-label col-md-{% if configField['widthlabel'] is defined %}{{ configField['widthlabel'] }}{% else %}3{% endif %}" {% if configField['titlelabel'] is defined %}title="{{ configField['titlelabel'] }}"{% endif %}>{{ configField['label'] | raw }}</label>
  <div class="col-md-{% if configField['widthlabel'] is defined %}{{ 12 - configField['widthlabel'] }}{% else %}9{% endif %}">
        {% if form_errors(_field) %}
            <div class="alert alert-danger">
        {{ form_errors(_field) }}
        </div>
        {% endif %}

     {% if configField['icon'] is defined %}
         <div class="input-icon">
            <i class="fa fa-{{ configField['icon'] }}"></i>        
            {% endif %}
     {% if configField['classesinput'] is defined %}{% set classesinput=' '~configField['classesinput'] %}
     {% else %}{% set classesinput='' %}{% endif %}
     
      {% if configField ['value'] is defined %} {{ form_widget(_field,  {'value': configField['value'], 'attr': {'class': 'form-control ' ~ classesinput } }) }}
          {% else %}{{ form_widget(_field, {'attr': {'class': 'form-control ' ~ classesinput } }) }}
              {% endif %}
       
       {% if configField['span'] is defined %}<span class="help-block">{{ configField['span'] }}</span>{% endif %}
       {% if configField['icon'] is defined %}</div>{% endif %}
     </div>
     <div class="clearfix"></div>
  </div>

