{#
    Pacolmg
    Greetik Soluciones SL
    Template for a general form
#}
            <!-- BEGIN FORM-->
            {{ form_start(new_form, {'class': 'myclass', 'action': configForm['pathaction'] , 'attr': {'id':configForm['id'], 'class': 'form-horizontal'}}) }}
            
               <div class="form-body">
                   {% block formcontent %}{% endblock %}
                </div>
                
                <div class="form-actions fluid">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green"><i class="fa fa-ok"></i> Guardar</button>
                            <a href="{{ configForm['pathcancel'] }}"><button type="button" class="btn default">Cancelar</button></a>
                         </div>
                      </div>
                   </div>
                </div>
                
            </form>